Repository moneymanagerex/moneymanagerex, pull requests merged in 2018-02, with the labels that each got.

#1438 fix(#1368): use proper wildcards in manual as described in wxWidgets doc
  docs/index.html
  docs/index_de.html
  docs/index_hu.html
  docs/index_it.html
  docs/index_pl.html
  docs/index_sp.html
  docs/js/translations.js
Labels: doc

#1439 feat(travis): try to install binary package build in docker
  .travis.yml
  CMakeLists.txt
  dockers/archlinux/Dockerfile
  dockers/debian.buster.x86/Dockerfile
  dockers/debian.buster/Dockerfile
  dockers/debian.stretch.x86/Dockerfile
  dockers/debian.stretch/Dockerfile
  dockers/el.6/Dockerfile
  dockers/el.7/Dockerfile
  dockers/fedora.24/Dockerfile
  dockers/fedora.25/Dockerfile
  dockers/fedora.26/Dockerfile
  dockers/fedora/Dockerfile
  dockers/linuxmint.serena/Dockerfile
  dockers/linuxmint.sonya/Dockerfile
  dockers/linuxmint.sylvia/Dockerfile
  dockers/opensuse.42.1/Dockerfile
  dockers/opensuse.42.2/Dockerfile
  dockers/opensuse.42.3/Dockerfile
  dockers/opensuse/Dockerfile
  dockers/slackware.14.2/Dockerfile
  dockers/ubuntu.artful.x86/Dockerfile
  dockers/ubuntu.artful/Dockerfile
  dockers/ubuntu.xenial.x86/Dockerfile
  dockers/ubuntu.xenial/Dockerfile
  dockers/ubuntu.zesty.x86/Dockerfile
  dockers/ubuntu.zesty/Dockerfile
Labels: bug, enhancement, linux

#1437 chore(AppVeyor): update wxWidgets to 3.1.1-rc for windows builds
  .appveyor.yml
  CMakeLists.txt
Labels: enhancement, win

#1359 Use brew bundle
  .travis.yml
  util/Brewfile
Labels: enhancement, mac
